<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Khai bao quyen thong bao -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVocabularyEnglish">
        <activity
            android:name="com.example.gheptu.activities.ThemMoiTuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gheptu.activities.SuaTuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gheptu.QuanLiTuActivity"
            android:exported="false" />
        <activity android:name="com.example.gheptu.GhepTuActivity" />
        <activity android:name="com.example.gheptu.VictoryActivity" />
        <activity android:name="com.example.LuyenPA.LuyenPhatAmActivity" />

        <receiver android:name="com.example.thongBao.ThongBaoActivity" />

        <activity android:name="com.example.chuDe.ChuDeActivity" />
        <activity android:name="com.example.chuDe.FlashCardActivity" />
        <activity android:name="com.example.NhiemVu.NhiemVuActivity" /> <!-- Activity màn chính -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>